.container {
    display: flex;
    text-align: center;
    color: black;
    align-items: center;
}

.linking {
    display: flex;
    -ms-flex-align: center;
    text-align: center;
}

.linking a {
    text-align: center;
}

.photo {
    height: 600px;
    width: auto;
    border-radius: 50%;
}

.photo:hover {
    transition-delay: 150ms;
    transition-property:all;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

@media (max-width:1030px) {
    .container {
        flex-direction: column;
        text-align: center;
        color: black;
        align-items: center;
    }
}