@inject IGithubService GithubService

<div class="container text-center">
    <BlazorAnimate.Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.5)"
        Delay="TimeSpan.FromSeconds(1)">
        <img class="photo" src="images/jonathan.webp" alt="Jonathan" onmouseover="RunAnimation">
    </BlazorAnimate.Animate>
    <BlazorAnimate.Animate Animation="Animations.FlipRight" Duration="TimeSpan.FromSeconds(0.5)"
        Delay="TimeSpan.FromSeconds(1)">
        <h1 class="display-2 mb-3">Hello, I'm @owner.Name a C# developper</h1>
    </BlazorAnimate.Animate>
</div>

@code {
    protected Owner owner = new Owner();

    protected override async Task OnInitializedAsync()
    {
        owner = await GithubService.GetOwner();
    }
}
